<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TestScope" value="/include=StreamUtil, PathParse, AttributeAccessor, DomainObjectContainer,DomainObjectContainerManager, Book, Portfolio"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
